/* Slider */
.carousel-slide {
    /* padding-top: 10px; */
    text-align: center;
    /* margin: auto; */
    height: 240px;
    width: 300px;
    margin-right: 50px;
    margin-bottom: 15px;
  }

.slides {
    align-items: center;
    width: 100%;
  }

  @media(max-width: 400px){
    .carousel-slide {
      /* padding-top: 10px; */
      text-align: center;
      height: 340px;
      width: 300px;
      padding-right: 150px;
      margin-bottom: 15px;
    }
  }